{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <title>AIがあなたの牌譜をレビューします！</title>

    {% render_bundle 'app' 'css' %}
  </head>
  <body>
    <noscript>
      <strong>JavaScriptを有効にしてください&#x1F64F;</strong>
    </noscript>
    <div id="app"></div>

    {% render_bundle 'app' 'js' %}
    {% render_bundle 'chunk-vendors' 'js' %}
  </body>
</html>
